<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    {%  load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Recismart</title>

    <style>
        * {
            font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
        }
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    </style>
</head>

<body style="background-color: #ebeff5">

{% load cloudinary %}
    <!-- BARRA DE NAVEGACION -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #343C42">
        <div class="container">
            <a class="navbar-brand" href="#">
                {% cloudinary 'recismartf_c6klmu.png' width=180 crop="fill" %}
            </a>
            <button
                class="navbar-toggler"
                 type="button"
                 data-bs-toggle="collapse"
                 data-bs-target="#navbarSupportedContent"
                 aria-controls="navbarSupportedContent"
                 aria-expanded="false"
                 aria-label="toogle navigation">
                 <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="container">
                    <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}" style="color: #A2DE96; ">Inicio</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#" style="color: #A2DE96">Quienes Somos</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'panelayuda' %}" style="color: #A2DE96">Ayuda</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'registroaviso' %}" style="color: #A2DE96">Publicar Aviso</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'panel' %}" style="color: #A2DE96">Panel (temporal)</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'logout' %}"style="color: white">Cerrar sesion</a>
                        </li>
                    {% else %}
                        <li>
{#                            <a class="btn btn-primary" type="button" href="{% url 'login' %}">Acceso</a>#}
                        </li>
                    {% endif %}
                </ul>
                </div>
                <br>
            <div class="container-fluid">
            <div class="d-grid d-md-block">
                <a class="btn btn-outline-secondary shadow" type="button" href="{% url 'panelregistro' %}" style="color: #7BD196">Registrarse</a>
                 &nbsp;
                <a class="btn btn-success shadow" type="button" href="{% url 'login' %}">Acceso</a>
            </div>
            </div>
            </div>
        </div>
    </nav>


    <!-- INICIO CONTENIDO -->
    {% block contenido %}
    {% endblock %}
    <!-- FIN CONTENIDO -->


    <!--INICIO FOOTER-->

    <!-- Footer -->
    <br>
    <br>
    <br>

<footer class="text-center text-white" style="background-color: #343C42">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn  btn-floating m-3" href="https://www.facebook.com/" role="button"
        ><i class="fab fa-facebook-f" style="color:#6DD57E;"></i
      ></a>

      <!-- Twitter -->
      <a class="btn  btn-floating m-3" href="https://twitter.com/" role="button"
        ><i class="fab fa-twitter" style="color:#6DD57E;"></i
      ></a>

      <!-- Google -->
      <a class="btn  btn-floating m-3" href="https://www.google.com/" role="button"
        ><i class="fab fa-google" style="color:#6DD57E;"></i
      ></a>

      <!-- Instagram -->
      <a class="btn  btn-floating m-3" href="https://www.instagram.com/" role="button"
        ><i class="fab fa-instagram" style="color:#6DD57E;"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn  btn-floating m-3" href="https://www.linkedin.com/" role="button"
        ><i class="fab fa-linkedin-in" style="color:#6DD57E;"></i
      ></a>

      <!-- Github -->
      <a class="btn  btn-floating m-3" href="https://github.com/" role="button"
        ><i class="fab fa-github" style="color:#6DD57E; width: 50px"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong style="color: #9BDE93">Registrate para obtener noticias!</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" />
              <label class="form-label" for="form5Example21" style="color: #9BDE93">Correo electronico</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn mb-4"  style="color: #9BDE93">
              Subscribete!
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4 text-center">
      <p>
        Bienvenido/a a la red de Recismart™. Somos un movimiento comunitario y totalmente sin fines de lucro de personas que dan y
          reciben cosas gratis en sus propias Ciudades. Se trata de reutilizar y mantener artículos en buen estado fuera de los vertederos.
          La afiliación es gratis. Y ahora puedes también crear tu propio Círculo de Amigos personal más pequeño para regalar y prestar artículos solo a tus amigos.
      </p>
    </section>
  </div>
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Taller de soluciones:
    <a class="" href="https://www.inacap.cl" style="color: #9BDE93">INACAP</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
    <!--FIN  FOOTER-->



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if  messages %}
        {%  for m  in messages %}
            <script>
                Swal.fire({
                    "title": 'Felicitaciones',
                    "text": '{{ m }}',
                    "icon": 'success',
                })
            </script>
        {% endfor %}
    {% endif %}
</body>
</html>
