{% load static %}

<title>MedicAssist</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/logo.png' %}" alt="" width="100">
            </a>
            <button
                class="navbar-toggler"
                 type="button"
                 data-bs-toggle="collapse"
                 data-bs-target="#navbarSupportedContent"
                 aria-controls="navbarSupportedContent"
                 aria-expanded="false"
                 aria-label="toogle navigation">
                 <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="{% url 'home' %}">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Quienes Somos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Ayuda</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Publicar Aviso</a></li>
                </ul>
            <div class="botones">
            <div class="d-grid gap-2 d-md-block">
                <a class="btn btn-primary" type="button" href="{% url 'login' %}">Acceso</a>
                <a class="btn btn-primary" type="button" href="#">Registrarse</a>
            </div>
            </div>
            </div>
        </div>
    </nav>



