{% include 'navbar2.html' %}
{% load crispy_forms_tags %}
{% load static %}
<body style="background-color: #ebeff5">
<br>
<br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h5 class="display-6 py-md-4 shadow bg-primary text-center" style="color: white; border-radius: 10px">Publicar Aviso</h5>
            </div>
        </div>
    </div>
<br>
    <!-- PUBLICACION INGRESO -->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card card-body shadow">
                    <form action="" method="post" autocomplete="on">
                        {% csrf_token %}
                        {{ form | crispy }}
                        {{ fotos | crispy }}
                        <br>
                        <div class="d-flex justify-content-end">
                            <input type="reset" value="cancelar" class="btn btn-secondary">
                                                &nbsp;
                            <button class="btn btn-success" type="submit" id="btnenviar">Enviar</button>
                        </div>
                    </form>
                    {{ mensaje }}
                </div>
            </div>
            <!-- PUBLICACION PREVIEW -->
                <div class="col">
                    <div class="card card-body shadow">
                        <h3 class="text-center">Publicacion</h3>
                        <h5>Titulo de publicacion:</h5>
                        <h5>Titulo de publicacion:</h5>
                        <h5>Descripcion:</h5>
                        <h5>Region:</h5>
                        <h5>Comuna:</h5>
                    </div>
                </div>
            <!-- FIN PUBLICACION PREVIEW -->
        </div>
    </div>
    <!-- FIN PUBLICACION INGRESO -->

<br>
<br>
<br>
    <!-- INICIO FOTOS -->
   <div class="container">
       <div class="row">
           <div class="col-3">
               <div class="card card-body shadow">
                   <img src="{% static '/img/logo.png' %}" alt="">
               </div>
           </div>
           <div class="col-3">
               <div class="card card-body shadow">
                   <img src="{% static '/img/logo.png' %}" alt="">
               </div>
           </div>

           <div class="col-3">
               <div class="card card-body shadow">
                   <img src="{% static '/img/logo.png' %}" alt="">
               </div>
           </div>

           <div class="col-3">
               <div class="card card-body shadow">
                   <img src="{% static '/img/logo.png' %}" alt="">
               </div>
           </div>
       </div>
   </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    <!-- FIN FOTOS -->
</body>














