{% include 'base2.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load cloudinary %}
<body style="background-color: #ebeff5">
<br>
<br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h5 class="display-6 py-md-4 shadow  text-center" style="color: #A2DE96; border-radius: 10px; background-color: #343C42">Publicar Aviso</h5>
            </div>
        </div>
    </div>
<br>
    <!-- PUBLICACION INGRESO -->
    <div class="container">
        <br>
            <div class="col-md">
            <div class="card card-header align-items-center bg-white shadow" style="border: none">
                <h4 class="mt-2">Adjuntar imagenes</h4>
                <br>
                <div class="d-flex justify-content-lg-start">
                    <a href="{% url 'subirfoto' %}" class="btn btn-outline-success btn-lg shadow">Adjuntar</a>
                </div>
                <br>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="card card-body shadow">
                    <form action="" method="post" autocomplete="on">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <br>
                        <div class="d-flex justify-content-end">
                            <input type="reset" value="cancelar" class="btn btn-secondary">
                                                &nbsp;
                            <button class="btn btn-success" type="submit" id="btnenviar">Enviar</button>
                        </div>
                    </form>
                    {{ mensaje }}
                </div>
            </div>
            <!-- PUBLICACION PREVIEW -->
                <div class="col">
                    <div class="card card-body shadow">
                        <h3 class="text-center">Publicacion</h3>
                        <h5>Titulo de publicacion:</h5>
                        <h5>Titulo de publicacion:</h5>
                        <h5>Descripcion:</h5>
                        <h5>Region:</h5>
                        <h5>Comuna:</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br>
<br>
<br>
















