{%  include 'base2.html' %}
{% load static %}
<!-- Sweet alert (REVISAR!!!) -->
 <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{#    <script>#}
{#        function eliminarecolector(id){#}
{#            console(id)#}
{#            Swal.fire({#}
{#                "title": "prueba1",#}
{#                "text": "la oracion",#}
{#                "icon": "question",#}
{#                "showCancelButton": true#}
{#            })#}
{#                .then(function(result){#}
{#                    if (result.is.Confirmed){#}
{#                        window.location.href = "eliminarecolector/"+id+"/"#}
{#                    }#}
{#                })#}
{#        }#}
{#    </script>#}

<!-- fin sweet alert -->

<br>
<br>
    <!-- ALERTAS DASHBOARD -->
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="col-md">
                    <div class="card text-center text-dark mb-3 alert alert-info shadow" id="total_listarusuario" style="border: none;">
                        <div class="card-header">
                            <h5 class="card-title" style="color: #318497">Total usuarios</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title" style="color: #318497">{{ total_listarusuario }}</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="col-md">
                    <div class="card text-center text-dark mb-3 alert alert-dark shadow" id="total_listarusuario" style="border: none">
                        <div class="card-header">
                            <h5 class="card-title" style="color: #6B6B6B">Total recolectores</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title" style="color: #6B6B6B">{{ total_listarecolector }}</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="col-md">
                    <div class="card text-center text-dark mb-3 alert alert-success shadow" id="total_listarusuario" style="border: none">
                        <div class="card-header">
                            <h5 class="card-title" style="color: #51876E">Total de publicaciones</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title" style="color: #51876E">{{ total_listaraviso }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br>
<br>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-12">
                <div class="card card-body shadow">
                    <h5 class="text-center">LISTADO DE USUARIOS REGISTRADOS</h5>
                    <br>
                    <div class="row">
                        <div class="col">
                            <form class="form-inline">
                                <input class="form-control mr-sm-" type="search" placeholder="Buscar por Rut, Perfil usuario, email..." aria-label="Search" name="busqueda_usuario">
                            </form>
                        </div>
                    </div>
                    <!--TABLA USUARIOS REGISTRADOS -->
                    <table class="table table-sm text-center">
                        <tr>
                            <th>Rut</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Fecha de nacimiento</th>
                            <th>Correo electronico</th>
                            <th>Comuna</th>
                            <th>Perfil usuario</th>


                        </tr>
                            {% for usuarios in listarusuario %}
                        <tr>
                            <td>{{ usuarios.Rut }}</td>
                            <td>{{ usuarios.Nombre }}</td>
                            <td>{{ usuarios.Apellido }}</td>
                            <td>{{ usuarios.fecha_nacimiento }}</td>
                            <td>{{ usuarios.Correo }}</td>
                            <td>{{ usuarios.Comuna }}</td>
                            <td>{{ usuarios.Perfil_usuario }}</td>


                            <td><a class="btn btn-success" href="{% url 'registrocuenta' %}">Habilitar</a></td>
                            <td><a  class="btn btn-danger" href="{% url 'eliminarusuario' usuarios.id %}">Deshabilitar</a>
                        </tr>
                        {% endfor %}
                    </table>
                <!--FIN TABLA USUARIOS REGISTRADOS -->
                </div>
            </div>
        </div>
    </div>
<br>
<br>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-12">
                <div class="card card-body shadow">
                    <h5 class="text-center">LISTADO DE RECOLECTORES REGISTRADOS</h5>
                    <br>
                    <div class="row">
                        <div class="col">
                            <form class="form-inline">
                                <input class="form-control mr-sm-" type="search" placeholder="Buscar por Rut, Perfil usuario, email..." aria-label="Search" name="busqueda_recolector">
                            </form>
                        </div>
                    </div>
                    <!--TABLA RECOLECTORES REGISTRADOS -->
                    <table class="table table-sm text-center">
                        <tr>
                            <th>Rut</th>
                            <th>Rut empresa</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Nombre de la empresa</th>
                            <th>Telefono</th>
                            <th>Correo electronico</th>
                            <th>Comuna</th>
                            <th>Perfil usuario</th>


                        </tr>
                            {% for recolector in listarecolector %}
                        <tr>
                            <td>{{ recolector.Rut }}</td>
                            <td>{{ recolector.Rut_Empresa }}</td>
                            <td>{{ recolector.Nombre }}</td>
                            <td>{{ recolector.Apellido }}</td>
                            <td>{{ recolector.Nombre_de_empresa }}</td>
                            <td>{{ recolector.Telefono }}</td>
                            <td>{{ recolector.Correo }}</td>
                            <td>{{ recolector.Comuna }}</td>
                            <td>{{ recolector.Perfil_usuario }}</td>

                            <td><a class="btn btn-success" href="{% url 'registrocuenta' %}">Habilitar</a></td>
                            <td><a  class="btn btn-danger" href="{% url 'eliminarecolector' recolector.id %}">Deshabilitar</a>
                        </tr>
                        {% endfor %}
                    </table>
                <!--FIN TABLA RECOLECTORES REGISTRADOS -->
                </div>
            </div>
        </div>
    </div>

<br>
<br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-body shadow">
                    <h5 class="text-center">HISTORICO DE PUBLICACIONES</h5>
                    <br>
                    <div class="row text-center">
                        <div class="col">
                            <form class="form-inline">
                                <input class="form-control mr-sm-" type="search" placeholder="Buscar por Titulo o Descripcion..." aria-label="Search" name="busqueda_aviso">
                            </form>
                        </div>
                    </div>

                    <table class="table table-responsive-md thead-light text-center">
                        <tr>
                            <th>Titulo publicacion</th>
                            <th>Descripcion</th>
                            <th>Comuna</th>
                            <th>Region</th>
                            <th>Fecha de publicacion</th>
                        </tr>
                            {% for avisos in listaraviso %}
                        <tr>
                            <td>{{ avisos.Titulo }}</td>
                            <td>{{ avisos.Descripcion }}</td>
                            <td>{{ avisos.Comuna }}</td>
                            <td>{{ avisos.Region }}</td>
                            <td>{{ avisos.Fecha_publicacion }}</td>

                            <td><a class="btn btn-success" href="">Habilitar</a></td>
                            <td><a  class="btn btn-danger" href="{% url 'eliminarpublicacion' avisos.id %}">Deshabilitar</a>
                        </tr>
                            {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    {% if  messages %}
        {%  for m  in messages %}
            <script>
                Swal.fire({
                    "title": 'Felicitaciones',
                    "text": '{{ m }}',
                    "icon": 'success',
                })
            </script>
        {% endfor %}
    {% endif %}
    </div>
