{%  include 'navbar2.html' %}
   {% load static %}
<br>
<br>
    <!-- ALERTAS DASHBOARD -->
    <div class="container text-center">
        <div class="row">
            <div class="col-4">
                <div class="card card-body alert alert-success shadow" role="alert" style="border: none">
                    <h4>Recolectores registrados</h4>
                    <p style="font-size: 80px">2</p>
                </div>
            </div>

            <div class="col-4">
                <div class="card card-body alert alert-dark shadow" role="alert" style="border: none">
                    <h4>Usuarios registrados</h4>
                    <p style="font-size: 80px">2</p>

                </div>
            </div>

            <div class="col-4">
                <div class="card card-body alert alert-danger shadow" role="alert" style="border: none">
                    <h4>Publicaciones registradas</h4>
                    <p style="font-size: 80px">2</p>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN ALERTAS DASHBOARD -->

<br>
<br>
<br>
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <div class="card card-body shadow">
                    <h5>LISTADO DE RECOLECTORES REGISTRADOS</h5>
                    <br>
                    <div class="row text-center">
                        <div class="col">
                            <form class="form-inline">
                                <input class="form-control mr-sm-" type="search" placeholder="Buscar por Titulo o Descripcion..." aria-label="Search" name="busqueda_aviso">
                            </form>
                        </div>
                    </div>
                    <!--TABLA RECOLECTORES REGISTRADOS -->
                    <table class="table table-responsive-md thead-light text-center" >
                        <tr>
                            <th>Rut</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Telefono</th>
                            <th>Nombre empresa</th>
                        </tr>
                            {% for recolector in listarrecolector %}
                        <tr>
                            <td>{{ recolector.Rut_Empresa }}</td>
                            <td>{{ recolector.Nombre }}</td>
                            <td>{{ recolector.Apellido }}</td>
                            <td>{{ recolector.Telefono }}</td>
                            <td>{{ recolector.Nombre_de_empresa }}</td>
                            <td><a class="btn btn-success" href="#">Habilitar</a></td>
                            <td><a class="btn btn-danger" href="#">Deshabilitar</a></td>
                        </tr>
                            {% endfor %}
                    </table>
                    <!--FIN TABLA RECOLECTORES REGISTRADOS -->
                </div>
            </div>


        </div>
    </div>
<br>
<br>

    <div class="container">
        <div class="row text-center">
            <div class="col">
                <div class="card card-body shadow">
                    <h5>LISTADO DE USUARIOS REGISTRADOS</h5>
                    <br>
                    <div class="row text-center">
                        <div class="col">
                            <form class="form-inline">
                                <input class="form-control mr-sm-" type="search" placeholder="Buscar por Titulo o Descripcion..." aria-label="Search" name="busqueda_aviso">
                            </form>
                        </div>
                    </div>
                    <!--TABLA RECOLECTORES REGISTRADOS -->
                    <table class="table table-sm">
                        <tr>
                            <th>Rut</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Correo_electronico</th>
                            <th>Comuna</th>
                        </tr>
                            {% for usuarios in listarusuario %}
                        <tr>
                            <td>{{ usuarios.Rut }}</td>
                            <td>{{ usuarios.Nombre }}</td>
                            <td>{{ usuarios.Apellido }}</td>
                            <td>{{ usuarios.Correo_electronico }}</td>
                            <td>{{ usuarios.Comuna }}</td>
                            <td><a class="btn btn-success" href="#">Habilitar</a></td>
                            <td><a  class="btn btn-danger" href="#">Deshabilitar</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                <!--FIN TABLA RECOLECTORES REGISTRADOS -->
                </div>
            </div>
        </div>
    </div>

<br>
<br>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card card-body shadow">
                    <h5 style="text-align: center">HISTORICO DE PUBLICACIONES</h5>
                    <br>
                    <div class="row text-center">
                        <div class="col">
                            <form class="form-inline">
                                <input class="form-control mr-sm-" type="search" placeholder="Buscar por Titulo o Descripcion..." aria-label="Search" name="busqueda_aviso">
                            </form>
                        </div>
                    </div>

                    <table class="table table-responsive-md thead-light text-center">
                        <tr>
                            <th>Titulo publicacion</th>
                            <th>Descripcion</th>
                            <th>Comuna</th>
                            <th>Region</th>
                            <th>Imagen</th>
                        </tr>
                            {% for avisos in listaraviso %}
                        <tr>
                            <td>{{ avisos.Titulo_de_publicacion }}</td>
                            <td>{{ avisos.Descripcion }}</td>
                            <td>{{ avisos.Comuna }}</td>
                            <td>{{ avisos.Region }}</td>
                            <td><a class="btn btn-success" href="#">Habilitar</a></td>
                            <td><a  class="btn btn-danger" href="{% url 'eliminaraviso' avisos.id %}">Deshabilitar</a></td>
                        </tr>
                            {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>