{%  include 'navbar2.html' %}
   {% load static %}
<br>
{#    <div class="container text-center">#}
{#        <div class="row">#}
{#            <div class="col-4">#}
{#                <div class="card card-body">#}
{#                    <p>dashboard#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-4">#}
{#                <div class="card card-body">#}
{#                    <p>dashboard#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-4">#}
{#                <div class="card card-body">#}
{#                    <p>dashboard#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#<br>#}
{#<br>#}
{##}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col">#}
{#                <div class="card card-body">#}
{#                    <h5>LISTADO DE RECOLECTORES REGISTRADOS</h5>#}
{#                    <form class="form-inline">#}
{#                        <input class="form-control mr-sm-" type="search" placeholder="Buscar por Rut, Nombre, Apellido..." aria-label="Search" name="busqueda_recolector">#}
{#                    </form>#}
{#                    <!--TABLA RECOLECTORES REGISTRADOS -->#}
{#                    <table class="table table-responsive-md thead-light text-center" >#}
{#                        <tr>#}
{#                            <th>Rut</th>#}
{#                            <th>Nombre</th>#}
{#                            <th>Apellido</th>#}
{#                            <th>Telefono</th>#}
{#                            <th>Nombre empresa</th>#}
{#                        </tr>#}
{#                            {% for recolector in listarrecolector %}#}
{#                        <tr>#}
{#                            <td>{{ recolector.Rut_Empresa }}</td>#}
{#                            <td>{{ recolector.Nombre }}</td>#}
{#                            <td>{{ recolector.Apellido }}</td>#}
{#                            <td>{{ recolector.Telefono }}</td>#}
{#                            <td>{{ recolector.Nombre_de_empresa }}</td>#}
{#                            <td><a class="btn btn-success" href="#">Habilitar</a></td>#}
{#                            <td><a class="btn btn-danger" href="#">Deshabilitar</a></td>#}
{#                        </tr>#}
{#                            {% endfor %}#}
{#                    </table>#}
{#                    <!--FIN TABLA RECOLECTORES REGISTRADOS -->#}
{#                </div>#}
{#            </div>#}
{##}
{#             <div class="col">#}
{#                <div class="card card-body">#}
{#                    <h5>LISTADO DE USUARIOS REGISTRADOS</h5>#}
{#                    <form class="form-inline">#}
{#                        <input class="form-control mr-sm-" type="search" placeholder="Buscar por Rut, Nombre, Apellido..." aria-label="Search" name="busqueda_recolector">#}
{#                    </form>#}
{#                    <!--TABLA RECOLECTORES REGISTRADOS -->#}
{#                    <table class="table table-sm">#}
{#                        <tr>#}
{#                            <th>Rut</th>#}
{#                            <th>Nombre</th>#}
{#                            <th>Apellido</th>#}
{#                            <th>Correo_electronico</th>#}
{#                            <th>Comuna</th>#}
{#                        </tr>#}
{#                        {% for usuarios in listarusuario %}#}
{#                            <tr>#}
{#                            <td>{{ usuarios.Rut }}</td>#}
{#                            <td>{{ usuarios.Nombre }}</td>#}
{#                            <td>{{ usuarios.Apellido }}</td>#}
{#                            <td>{{ usuarios.Correo_electronico }}</td>#}
{#                            <td>{{ usuarios.Comuna }}</td>#}
{#                            <td><a class="btn btn-success" href="#">Habilitar</a></td>#}
{#                            <td><a  class="btn btn-danger" href="#">Deshabilitar</a></td>#}
{#                            </tr>#}
{#                        {% endfor %}#}
{#                    </table>#}
{#                    <!--FIN TABLA RECOLECTORES REGISTRADOS -->#}
{##}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#<br>#}
{#<br>#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col">#}
{#                <div class="card card-body">#}
{#                    <h5 style="text-align: center">HISTORICO DE PUBLICACIONES</h5>#}
{#                    <br>#}
{#                    <div class="row text-center">#}
{#                        <div class="col-12">#}
{#                            <form class="form-inline">#}
{#                                <input class="form-control mr-sm-" type="search" placeholder="Buscar por Titulo o Descripcion..." aria-label="Search" name="busqueda_aviso">#}
{#                            </form>#}
{#                        </div>#}
{#                    </div>#}
{#                    <!--TABLA PUBLICACIONES REGISTRADAS -->#}
{#                    <table class="table table-responsive-md thead-light text-center" >#}
{#                        <tr>#}
{#                            <th>Titulo publicacion</th>#}
{#                            <th>Descripcion</th>#}
{#                            <th>Comuna</th>#}
{#                            <th>Region</th>#}
{#                            <th>Imagen</th>#}
{#                        </tr>#}
{#                            {% for avisos in listaraviso %}#}
{#                        <tr>#}
{#                            <td>{{ avisos.Titulo_de_publicacion }}</td>#}
{#                            <td>{{ avisos.Descripcion }}</td>#}
{#                            <td>{{ avisos.Comuna }}</td>#}
{#                            <td>{{ avisos.Region }}</td>#}
{#                            <td><img src="{{ avisos.image.url }}"></td>#}
{#                            <td><a class="btn btn-success" href="#">Habilitar</a></td>#}
{#                            <td><a  class="btn btn-danger" href="{% url 'eliminaraviso' avisos.id %}">Deshabilitar</a></td>#}
{#                        </tr>#}
{#                            {% endfor %}#}
{#                    </table>#}
{#                    <!--FIN TABLA PUBLICACIONES REGISTRADAS -->#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{#<div class="row row-cols-1 row-cols-md-2 text-center">#}
{#              <div class="col mb-4">#}
{#                <!-- Card -->#}
{#                <div class="card card-body mt-3">#}
{##}
{#                  <!--Card image-->#}
{#                  <div class="view overlay">#}
{#                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.webp"#}
{#                      alt="Card image cap">#}
{#                    <a href="#!">#}
{#                      <div class="mask rgba-white-slight"></div>#}
{#                    </a>#}
{#                  </div>#}
{##}
{#                  <!--Card content-->#}
{#                  <div class="card-body">#}
{##}
{#                    <!--Title-->#}
{#                    <h4 class="card-title">Registro Personas</h4>#}
{#                    <!--Text-->#}
{#                    <p class="card-text">Registro para personas que desean ofrecer sus objetos sin uso para otros o simplemente para reciclar.</p>#}
{#                    <a type="button" class="btn btn-primary btn-lg" href="{% url 'registro' %}">Registrese</a>#}
{##}
{#                  </div>#}
{##}
{#                </div>#}
{#            </div>#}
{#          <div class="col mb-4">#}
{#            <div class="card card-body mt-3">#}
{#              <div class="view overlay">#}
{#                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.webp"#}
{#                  alt="Card image cap">#}
{#                <a href="#!">#}
{#                  <div class="mask rgba-white-slight"></div>#}
{#                </a>#}
{#              </div>#}
{##}
{#              <div class="card-body">#}
{##}
{#                <!--Title-->#}
{#                <h4 class="card-title">Registro recolectores</h4>#}
{#                <!--Text-->#}
{#                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the#}
{#                  card's content.</p>#}
{#                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->#}
{#                <a type="button" class="btn btn-primary btn-lg" href="{% url 'registrorecolector' %}">Registrese</a>#}
{##}
{#              </div>#}
{#            </div>#}


























































