{% extends 'base.html' %}
{% load static %}
{% block contenido %}
{% load crispy_forms_tags %}
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card card-body text-center">
                    <h1 class="font-monospace bg-primary" style="font-size: 100px; color: white">Sitio en construccion</h1>
                    <br>
                    <h2 class="cke_combo__fontsize" style="font-size: 50px; color: #0D6EFD; font-style: unset">panel de ayuda de Recismart</h2>
                </div>
            </div>
        </div>
    </div>


{% endblock %}