{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}
{% block contenido %}
    <div class="container text-center mt-5">
          <h3 class="display-6">Publicaciones recomendadas</h3>
            <br>
            <br>


       <!-- CARDS -->
        <div class="card">
            <div class="card-body">
                <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card h-100">
              {% cloudinary 'c7rlp49tgycmuii7dy9y.png' width=400 crop="fill" %}
              <div class="card-body">
                <h5 class="card-title">Televisor LG</h5>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural lead-in to
                  additional content. This content is a little bit longer.
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
                {% cloudinary 'caxvrip86eubqkvvkolq.png' width=405 crop="fill" %}
              <div class="card-body">
                <h5 class="card-title">Teclado mecanico</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              {% cloudinary 'aew18p3ejqvwwfpfyfzl.png' width=400 crop="fill" %}
              <div class="card-body">
                <h5 class="card-title">Escritorio de roble</h5>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural lead-in to
                  additional content. This card has even longer content than the first to show
                  that equal height action.
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
        </div>
            </div>
        </div>
        <br>
    <div class="container text-center">
        <a href="{% url 'maspublicaciones' %}" class="btn btn-secondary btn-lg">Ver mas publicaciones</a>
    </div>
    </div>
{% endblock %}


