{% extends 'base.html' %}
{% load static %}
{% block contenido %}
{% load crispy_forms_tags %}
    <br>
    <br>
    <div class="container">
            <div class="row">
                <div class="col">
                    <h5 class="display-6 py-md-4 shadow  text-center" style="color: #A2DE96; border-radius: 10px; background-color: #343C42">Publicaciones recientes</h5>
                </div>
            </div>
    </div>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-body shadow">
                    <form class="form-inline">
                        <input class="form-control mr-sm-" type="search" placeholder="Buscar por Titulo, Descripcion, Region o comuna..." aria-label="Search" name="busqueda_aviso">
                    </form>
                    <br>
                    <br>
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                            </div>
                          </th>
                          <th scope="col" class="text-center">Titulo publicacion</th>
                          <th scope="col" class="text-center">Descripcion</th>
                          <th scope="col" class="text-center">Comuna</th>
                          <th scope="col" class="text-center">Region</th>
                          <th scope="col" class="text-center">Fecha de publicacion</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            {% for avisos in listaraviso %}
                          <th scope="row">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                            </div>
                          </th>
                          <td class="text-center">{{ avisos.Titulo }}</td>
                          <td class="text-center">{{ avisos.Descripcion }}</td>
                          <td class="text-center">{{ avisos.Comuna }}</td>
                          <td class="text-center">{{ avisos.Region }}</td>
                          <td class="text-center">{{ avisos.Fecha_publicacion }}</td>
                           <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <td><a class="btn btn-success me-md-2" type="button" href="#">Ver</a></td>
                           </div>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



{% endblock %}