{% extends 'base.html' %}
{% load static %}
{% block contenido %}
{% load crispy_forms_tags %}

<br>
<br>
    <!--SE DEBE CREAR AQUI UN FILTER DJANGO -->
    <br>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="card">
                    <h3>publicacion 1</h3>
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col">
                <div class="card">
                    <h3>publicacion 2</h3>
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col">
                <div class="card">
                    <h3>publicacion 3</h3>
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col">
                <div class="card">
                    <h3>publicacion 4</h3>
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col">
                <div class="card">
                    <h3>publicacion 5</h3>
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col">
                <div class="card">
                    <h3>publicacion 6</h3>
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col">
                <div class="card">
                    <h3>publicacion 7</h3>
                </div>
            </div>
        </div>
    </div>


{% endblock %}